@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.body{
  position: sticky;
  padding: 0%;
  margin: 0%
}
html
{scroll-behavior: smooth;
  transition: 2s;
}
.home{
  color:rgb(144,85,162);
}
nav{
  position: fixed;
  background-color: white;
  height: 70px;
  width: 100%;
}
nav .logo{
  color: black;
  font-weight: bold;
  font-size: 35px;
  margin: 0 100px;
  line-height: 75px;
}
nav ul{
  margin: 0%;
  float: right;
    display: block;
    display: inline-block;
    list-style-type: none;
    text-align: center;
}
nav ul li{
    display: inline-block;
    line-height: 30px;
}  
nav a {
  color: black;
  font-weight: bold;
    text-decoration: none;
    display: block;
    margin-top: 1em;
    font-family:Arial;
    padding: 0 1em 0 1em;
    position: relative;
    
  }
#checkbtn{
  float: right;
  line-height: 70px;
  margin-right: 10px;
  font-size: 30px;
  color: black;
  display: none;
}
#check{
  display: none;
}
#check:checked~ul{
  top: 70px;
  left: 0%;
  
}
@media(max-width: 1300px){
  #checkbtn{
    display: block;
  }
  nav ul{
    width: 100%;
    padding: 2%;
    height: fit-content;
    background-color: white;
    position: fixed;
    top: -100%;
    left: 0%;
    transition: 1s;
  }
  nav ul li{
    
    display: block;
    text-align: left;
    margin-left: 60px;
    line-height: 35px;
  }
  nav ul li a{
    width: fit-content;
  }
}

.header_text{
  color: black;
}
  nav a:hover {
    color:rgb(144,85,162);
  }

  nav a:hover:before {
    left: 0;
    width: 100%;
  }
  nav a:before {
    content: "";
    position: absolute;
    width: 0;
    height: .5px;
    background-color: rgb(144,85,162);
    bottom: calc(-1px);
    right: 0;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

.upper_of_heading{
  color: black;
  font-size: 17px;
  text-transform: uppercase;
}
.headngs{
  border-bottom: solid  rgb(193, 149, 193);
  width: fit-content;
  color: purple;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.secheadngs{
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}
.sec_bg{
  padding: 5%;
}

  .bgcolor{
    background-color: rgb(240, 238, 240);
  }
  
.home_fles{
  display: flex;
  flex-direction: row;
}
.font_size{
    font-size: large;
}
.home_image{
  
}
.hometext{
  padding: 7em;
}
.home_p{
  width: 60%;
}
@media screen and (max-width:780px) {
  .hometext{
    padding: 7em;
  }
  .home_fles{
    display: flex;
    flex-direction: column;
  } 
}
.expertise_section
{
  display: flex;
  flex-wrap: wrap;

}
.expertise-div{
  
  flex :0 0 auto;
  width: 50%;
}
.list-number{
  margin-right: .5em;
  color: purple;
}
.expertise_para{
  margin-left: 2em;
  margin-right: 17%;
}


.education_quali{
  display: flex;
  padding: 2em;
  
}
.education_detail{
  width: 40%;
}
.education_summ{
  margin-top: 2%;
  display: flex;
 
  width: 50%;
}

.experience_q{
  display: flex;
}
.exp_section{
  display: flex;
}
.exp_detail{
  width: 30%;
}
.exp_summ{
  width: 50%;
  padding: 3em;
}
.contact_div{
  display: flex;
}
.link{
 
  box-sizing: border-box;
  box-shadow: inset;
  text-align: center;
  width: 25%;
  padding: 2em;
  margin-right: 2em;
  background-color: white;
}
.link:hover{
 
  background-color: rgb(144,85,162);
  color: white;
  outline: 4px solid black;
  transition: .4s;

}

.footer{
  
  text-align: center !important;
  padding-top: 2em;
  padding-bottom: 2em;
  
}
.link{
  color: black;
  text-decoration: none;
}
.name_center{
  font-weight: bold;
}
.contact_list{
  display: inline;
}

.contack_li{
  position: relative;
  display: inline-block;
  padding: 1em; 
}
.cont_img:hover{
  color: rgb(144,85,162);
  
}